

.container{
    text-decoration: none;
    color: black;
    margin: auto;
    padding: 10px; 
    border-radius: 20px;
    font-weight: 500;
}


.active{
    background-color: white;
    max-width: auto;
}