
    

.calendar{
    --calendar-width: 80%;
    

    outline: 2px solid blue;
    display: block;
    flex-wrap: wrap;
    width: var(--calendar-width);
    min-height: 100%;
    margin: auto;

}

.head{

    height: 20%;
}

.days{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
} 

.modul{

    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 200;

}