.container{ 
    background-color: green;
}

.logo{
    display: block;
    padding: 10%;
    margin: auto;
    width: 75%; /*The Logo should be 75% of the total width of the Navigationbar*/
    height: auto;
}
