

.months{
    display: flex;
    margin: auto;
    text-align: center;
    
}


.currMonth{
    font-size: x-large;
    color: orange;
    margin: auto;
    align-self: center;
}

.button{
    border-radius: 15%;
    align-self: end;
    margin: auto;
    transition-duration: 0.4s;
    border: 2px solid green;
    font-size: large;
    padding: 0.5% 2%;
}



.button:hover{
    background-color: green;

}




.weekdays{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;
    width: 100%;
}


.child{
    width: 12%;
    margin:auto;
    color: red;
    text-align: center;
}